*{
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-family: 'kavivanar';
}

nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2em 2em;
}
body{
    background-image: url(../img/fond1.jpg);
    background-size: 1920px 1080px;
    background-attachment: fixed;
}

a{
    color: black;
    text-decoration: none;
    font-size: 2em;
}

h1{
    font-size: 3em;
    text-align: center;
}

.topics{  
    display: grid;
    grid-template-columns: repeat(2, 45em);

    margin-top: 4em;
    width: 100%;
    justify-content: center;
    a{
        font-size: 2em;
        background-color: rgba(87, 17, 75, 0.1);
        border-radius: 50px;
        box-shadow: 0px 0px 10px 10px #ffffff;
        padding: 0.5em;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(40px);
        font-weight: bold;
        transition: background-color 0.5s ease-in-out;
        p{
            font-size: 0.5em;
            margin-top: -3em;
            padding: 0.5em;
            font-weight: lighter;
        }
       
    }
    a:hover{
        background-color: rgba(87, 17, 75, 0.3);
    }
}

.addCategorie{
    display: flex;
}
.contentForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    .section{
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        input{
            min-width: 40em;
        }
        input:placeholder-shown{
            font-style: italic;
        }
    }
}

.error{
    position:absolute;
    left: 50%;
  transform: translate(-50%, 0);
    margin-top: 4em;
    color :red;
    text-align: center;
    font-weight: 400;
}

.navincription{
    display: flex;
    flex-direction: column;
}

.allPosts{
    margin-top: 5em;
    min-height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    .message{
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        font-size: 2em;
    }
    .auteurPost{
    text-align: left;
    font-size: 1.5em;
    }
}

.message:nth-child(2){

    .message{
        margin-left: 10em;
    }
    .auteurPost{
        text-align: right;
    }
}

.addMessageForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.envoyer{
    padding: 0.5em 2em;
    font-size: 1em;
    margin-top: 3em;
    border: none;
    background-color: rgba(87, 17, 75, 0.1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px #ffffff;
    backdrop-filter: blur(40px);
    transition: background-color 0.5s ease-in-out;
    
}

.envoyer:hover{
    cursor: pointer;
    background-color: rgba(87, 17, 75, 0.3);
}


.addMessageForm{
    margin-top: 5em;
    display: flex;
    justify-content: center;
}



